<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main>
    <h1><%=user.username%> Cards</h1>
            <ul class="card-grid">
                <% for (let oneCard of card){%>
                    <li>
                        <a href="/card/<%=oneCard._id%>" class="card-visual card-<%=oneCard.cardType%>">
                            <p class="card-type"><%=oneCard.cardType%></p>
                            <p class="card-nickname"><%=oneCard.nickname%></p>
                            <p class="card-number">xxxx xxxx xxxx <%=oneCard.cardNumber%></p>
                            <p class="card-balance">BD <%=oneCard.balance.toFixed(2)%></p>
                        </a>
                    </li>
                <%}%>
                <li>
                    <a href="/card/new" class="card-tile-add">+ Add Card</a>
                </li>
            </ul>
    </main>
</body>
</html>