<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Card Details</h1>
    <p>Card Number: <%=card.cardNumber%> </p>
    <p>Card Type: <%=card.cardType%></p>
    <p>Expiry Date: <%=card.expiryDate%></p>
    <p>Balance: BD <%=card.balance%></p>
    <a href="/card/<%=card._id%>/edit"><button>Edit</button></a>
    <form action="/card/<%=card._id%>/delete" method="post">
        <button>Delete Card</button>
    </form>
    <a href="/card/<%=card._id%>/transaction/new-deposit"><button>Deposit</button></a>
    <a href="/card/<%=card._id%>/transaction/new-withdrawal"><button>Withdraw</button></a>
    <a href="/card/<%=card._id%>/transaction/new-transfer"><button>Transfer</button></a>
</body>
</html>