<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Edit Card | PoacketPay</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main class="box" style="margin-top: 3rem;">
    <h1 style="text-align: center">Edit Your Card</h1>
    <form action="/card/<%=card._id%>/edit" method="post">
        <section class="card-visual card-form card-<%=card.cardType%>">
        <label for="nickname" class="card-type">Nickname</label>
        <input value="<%=card.nickname%>" name="nickname" id="nickname" type="text" class="card-input">
        <label for="cardNumber" class="card-type">Card Number</label>
        <div class="card-number-group">
        <p class="card-number-mask">xxxx xxxx xxxx <%=card.cardNumber%></p>
        </div>
        <div class="card-form-row">
            <div>
        <label for="cardType" class="card-type">Card Type</label>
        <p class="card-value"><%=card.cardType%></p>
        </div>   
        <div>      
        <label for="expiryDate" class="card-type">Expiry Date</label>
        <input value="<%=card.expiryDate%>" name="expiryDate" id="expiryDate" type="month" class="card-input">
        </div>
        </div>
        </section>
        <button style="margin-left: auto; display: block;" class="btn">Confirm Edit</button>
    </form>
    </main>
</body>
</html>